<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple recipe uploader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <h1 class="header">Recipe Book</h1>
    <div class="center">
        <a href="{{url_for('add_recipe')}}" class="add-recipe-a">Add</a>
    </div>
    <div class="main">
        <ul>
            {% for recipe in recipes %}
            <li><h1 class="individual-recipe">{{recipe['recipe']}}</h1></li>
            <p><b>Ingredients:</b> {{recipe['ingredients']}}</p>
            <p><b>Directions:</b> {{recipe['directions']}}</p>
            <a href="{{url_for('edit', index=loop.index0)}}">Edit</a>
            <a href="{{url_for('delete', index=loop.index0)}}">Delete</a>
            {% endfor %}
        </ul>
    </div>
<!--    <form action="{{ url_for('add') }}" method="post">-->
<!--        <input type="text" name="recipe" placeholder="name of recipe" required>-->
<!--        <input type="text" name="ingredients" placeholder="ingredients" required>-->
<!--        <input type="text" name="directions" placeholder="directions" required>-->
<!--        <button type="submit">Add Recipe</button>-->
<!--    </form>-->
</body>
</html>